<h1>Admin Home - Online Bookstore Admin</h1>

<div class="homepageDescription">
  <p>This is the home page for the Online Bookstore Admin.</p>

  <table>
    <tr>
      <td><strong>Group Number:</strong></td>
      <td>71</td>
    </tr>
    <tr>
      <td><strong>Class:</strong></td>
      <td>CS 340 Intro to Databases (Fall 2025)</td>
    </tr>
    <tr>
      <td><strong>Project Title:</strong></td>
      <td>Online Bookstore Management System</td>
    </tr>
    <tr>
      <td><strong>Project Authors:</strong></td>
      <td>Daniel Aguilar and Josh Goben</td>
    </tr>
  </table>
</div>

<footer>
&copy; 2025 Daniel Aguilar and Josh Goben
</footer>